// Define variables for your color scheme
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #0F5D5E;
$black: #0E0000;
$light-gray: #E5E5E5;
$gray:#C4C4C4;


$blue : #0F3057;
$ligth-blue : #91B9C5;
$grey : #E8E8E8;
$mid-grey: #686D76;
