.contact-container {
  display: flex;
  flex-direction: column;
  // height: 95vh;
  min-height: -webkit-fill-available;
  width: 95%;
  margin: 0 auto;
}
.intro {
  display: flex;
  flex-direction: column;
}
.contact-image {
  padding-bottom: 40%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.contact-texte {
  width: 100%;
  margin-top: 30px;
  text-align: justify;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simple_form {
  width: 60%;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-group {
    width: 100%;
  }
}
.form-btn {
  margin: 30px 0px;
  border-style: none;
}

.notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
.alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

/*responsive */

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
    .navcolumn, .contact-container {
      // height: 50vh;
      margin: 0;
    }
    .contact-container {
      width: 100%;
     align-items: center;
    }
    .navcolumn {
      position: static;
    }
    .menu {
    margin-top: 15%;
    }
    h2 {
      margin-top: 20px;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  * {
    box-sizing: border-box;
  }
  .artiste {
    width: 25%;
    margin: 0 auto;
  }
  h1 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  .contact-texte {
    padding: 0px 10px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  * {
    box-sizing: border-box;
  }
  h1 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
}
