.galleries {
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  align-items: right;
}
.gallery-paintings, .gallery-sculptures {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  h2 {
  color: $ligth-blue;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 30px;
  margin-right: 0px;
  }
}
.card-gallery {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  height: 15%;
  .description {
    margin-right: 30px;
  }
}
.card-gallery-two {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  height: 15%;
  .description {
    margin-left: 30px;
  }
}
.title {
  color: white;
  font-style: italic;
  font-size: 36px;
  font-family: Alegreya Sans;
  font-weight: bold;
  text-shadow: 1px 1px 1px grey;
}
.description {
  display: flex;
  align-items: center;
  width: 40%;
  height: 25vh;
  text-align: justify;
  overflow: auto;
}
.photo {
  width: 40vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.card-gallery a:hover {
    text-decoration: none;
    opacity: 0.8;
}
.card-gallery-two a:hover  {
    text-decoration: none;
    opacity: 0.8;
}


/*responsive */

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
    .navcolumn, .container {
      // height: 50vh;
      margin: 0;
    }
    .navcolumn {
      position: static;
    }
    .menu {
      align-items: center;
    }
    .gallery-paintings, .gallery-sculptures {
      align-items: center;
      }
    .gallery-sculptures h2 {
      margin-top: 0px;
    }
    .card-gallery, .card-gallery-two {
        p {
        display: none;
      }
    }
    .description {
      display: none;
    }
    .card-gallery, .card-gallery-two {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      .photo {
      width: 100vw;
      }
    }
    .title {
      font-size: 30px;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  * {
    box-sizing: border-box;
  }
  .artiste {
    width: 25%;
    margin: 0 auto;
  }
  h1 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  * {
    box-sizing: border-box;
  }
  h1 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
}

