.galeries {
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  align-items: right;
}
.galerie-peinture, .galerie-sculptures {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  h2 {
  color: $ligth-blue;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 30px;
  margin-right: 0px;
  }
}
.card-galery {
  display: flex;
  margin-bottom: 40px;
  height: 160px;
  .description {
    margin-right: 30px;
  }
}
.card-galery h4 {
  color: white;
  font-style: italic;
  font-size: 30px;
  padding-top: 25%;
  padding-left: 3%;
  text-shadow: 1px 1px 1px grey;
}
.card-galery-two {
  display: flex;
  margin-bottom: 40px;
  height: 160px;
  .description {
    margin-left: 30px;
  }
}
.card-galery-two h4 {
  color: white;
  font-style: italic;
  font-size: 30px;
  padding-top: 25%;
  padding-left: 3%;
  text-shadow: 1px 1px 1px grey;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  text-align: justify;
  overflow: auto;
    a:hover {
      text-decoration: none;
      color: grey;
    }
}
.description p {
  font-size: 16px;
}
.photo {
  width: 60%;
  background-size: cover;
  background-position: center;
}
