.galleries {
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  align-items: right;
}
.gallery-paintings, .gallery-sculptures {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  h2 {
  color: $ligth-blue;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 30px;
  margin-right: 0px;
  }
}
.card-gallery {
  display: flex;
  margin-bottom: 40px;
  height: 160px;
  .description {
    margin-right: 30px;
  }
}
.card-gallery h4 {
  color: white;
  font-style: italic;
  font-size: 30px;
  padding-top: 25%;
  padding-left: 3%;
  text-shadow: 1px 1px 1px grey;
}
.card-gallery-two {
  display: flex;
  margin-bottom: 40px;
  height: 160px;
  .description {
    margin-left: 30px;
  }
}
.card-gallery-two h4 {
  color: white;
  font-style: italic;
  font-size: 30px;
  padding-top: 25%;
  padding-left: 3%;
  text-shadow: 1px 1px 1px grey;
}
.description {
  display: flex;
 // flex-direction: column;
 justify-content: center;
  align-items: center;
  width: 40%;
  text-align: justify;
  overflow: auto;
    a:hover {
      text-decoration: none;
      color: grey;
    }
}
.description p {
  font-size: 15px;
  position: relative;
  z-index: 2;

}
.one {
  position: absolute;
  z-index: 1;
  a:hover {
      text-decoration: none;
      color: grey;
    }

}
.change-opacity {
  opacity: 0.2;
}
.opac {
  opacity: 0;
}
.photo {
  width: 60%;
  background-size: cover;
  background-position: center;
}
