// Specific CSS for your home-page

.home-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  h2 {
  color: white;
  font-style: italic;
  font-size: 32px;
  padding-left: 8%;
  position: absolute;
  bottom: 40px;
    }
}
.home-navcolumn {
  margin: 20px 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.artiste {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
color: $blue;
font-weight: bold;
font-size: 26px;
}
h3 {
  color: black;
  font-size: 22px;
}
.home-menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 30px;
}
.first-trait {
  width: 50%;
  background-color: black;
  height: 1px;
  margin-top: 40px;
}
.second-trait {
  width: 50%;
  background-color: black;
  height: 1px;
  margin-top: 40px;
}
.home-footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  i {
    padding-right: 30px;
  }

}
