// Specific CSS for your home-page

.home-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  h2 {
  letter-spacing: -2px;
  color: white;
  font-style: italic;
  font-size: 40px;
  padding-left: 7%;
  position: absolute;
  bottom: 7%;
    }
}
.home-navcolumn {
  margin: 20px 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.artiste {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
color: $blue;
font-weight: bold;
font-size: 26px;
}
h3 {
  color: black;
  font-size: 22px;
}
.home-menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 30px;
}
.home-menu a {
  font-size: 20px;
  color: black;
  padding-top: 10px;
  &:hover {
    text-decoration: none;
    color: $ligth-blue;
  }
}
.trait {
  border-top: 1px solid black;
}
.trait-bis {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.home-footer {
  position: absolute;
  bottom: 28px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
    .fab {
    margin-bottom: 0px;
    font-size: 24px;
    padding-left: 10px;
  }
}
.square {
  width: 20px;
  height: 20px;
  background-color: $grey;
  cursor: default;
}
// animation du titre
// #parentheses {
//   transition: transform 3s;
//   transform: translateY(300%);
// }
// #parentheses.translate {
//   transform: translateY(0%);
// }

// animation du titre
.anim {
    animation: anim-letters;
    animation-duration: 1s;
  &_letter {
    animation: anim-letters;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    @for $i from 1 through 19 {
      &-#{$i} {
        animation-delay: 50ms * $i;
        -webkit-animation-delay: 100ms * $i;
      }
    }
  }
}
@keyframes anim-letters {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*responsive */

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
    .home-footer {
      display: none;
    }
    .home-navcolumn {
      height: auto;
      min-height: -webkit-fit-content;
    }
    #parentheses {
      font-size: 30px;
      padding-left: 10%;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  * {
    box-sizing: border-box;
  }
  .artiste {
    width: 25%;
    margin: 0 auto;
  }
  h1 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  .home-footer {
      display: none;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  * {
    box-sizing: border-box;
  }
  h1 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
}



