
<% if user_signed_in? %>
  <div class="btn-group dropup">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Admin
    </button>
    <div class="dropdown-menu">
      <%= link_to "Modifier mon Profil", edit_user_registration_path, class: "dropdown-item" %>
      <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>
  <% else %>
    <%= link_to new_user_session_path do%>
      <div class="square">
      </div>
    <% end %>
<% end %>
