<% content_for :meta_title, "Sandrine Rousset artiste peintre et sculptrice" %>
<% content_for :meta_description, "Bienvenue sur le site de Sandrine Rousset, artiste peintre et sculptrice" %>
<% content_for :meta_image, cl_image_path("banner.jpg") %>

<div class="home-navcolumn">
  <div class="artiste">
    <h1>SANDRINE ROUSSET</h1>
    <h3>Peintures&ensp;Sculptures</h3>
  </div>
  <div class="home-menu">
    <%= link_to "Quelques mots", about_path, class: "trait" %>
    <%= link_to "Galerie en ligne", galleries_path %>
    <%= link_to "Contact", contacts_path, class: "trait-bis" %>
  </div>
  <div class="home-footer">
    <%= render 'shared/navbar' %>
    <p><i class="fab fa-facebook-f"></i></p>
  </div>
</div>

<div class="home-container" style='background-image: url("https://res.cloudinary.com/du5qhnalh/image/upload/v1602169936/banner_b5hf2y.jpg")'>
  <h2 id="parentheses">Parenthèses poétiques</h2>
</div>

<script>
  const title = document.querySelector('#parentheses');
  function translation() {
    title.classList.toggle('translate');
  };
  window.addEventListener('load', translation);
</script>
