.navcolumn {
  margin: 20px 20px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 10px;
}
.artiste {
  display: flex;
  flex-direction: column;
  align-items: left;
}
h1 {
color: $blue;
font-weight: bold;
font-size: 26px;
}
.art {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
  h3 {
    color: black;
    font-size: 24px;
  }
}
.first {
  padding-right: 15px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 30px;
}
.trait {
  width: 50%;
  background-color: black;
  height: 1px;
  margin-top: 40px;
}
.footer {
  display:flex;
  margin-top: 100%;
  position: absolute;
  bottom: 30px;
  i {
    padding-right: 30px;
  }

}
