* {
    box-sizing: border-box;
  }
html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.main-container {
display: grid;
width: 100%;
height: fit-content;
grid-template-columns: 25% 75%;
margin: 0;
min-height: -webkit-fill-available;
background-image: linear-gradient(135deg, white 50%, 80%, #E8FFFF 100%);
}
.container {
  width: 95%;
  margin: 0 auto;
  min-height: -webkit-fill-available;
}


/* responsive */
@media (min-width: 576px) {
  .container {
      max-width: none;
  }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
  .main-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0;
    }
  .container {
     width: 100vw;
     align-items: center;
    }
}
