<p>Hello <%= @resource.email %>!</p>

<p>Une demande de réinitialisation de mot de passe a été effectuée. Merci d'utiliser le lien ci-dessous:</p>

<p><%= link_to 'Réinitialiser le mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cetet demande, merci d'ignorer cet email.</p>
<p>Votre mot de passe restera inchangé tant que vous n'aurez pas utiliser le lien ci-dessus et créer un nouveau mot de passe.</p>
